@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Fonts
$font: 'Poppins', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extraBold: 700;

// Colors
$bgColor: #f7f8fa;
$greyDark: #8f92a1;
$grey: #566789;
// $greyLight: rgba(86, 103, 137, 0.26);
$greyLight: #ebeffa;
$black: #000000;
$white: #ffffff;
// $primary: #3d41d7;
$primary: #2a7cff;
// $lightBlue: #d3d3fd;
$lightBlue: #7484b6;
$red: #e53e3e;
