@import './constants.scss';
@import '../app/Dashboard/Dashboard';
@import '../app/Navbar/Navbar';
@import '../app/WishlistCard/Wishlistcard';
@import '../app/Form/Form.scss';
@import '../app/LandingPage/LandingPage';

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

button {
    outline: none;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    font-family: $font;
    background-color: $bgColor;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer {
    width: 100%;
    height: 40px;
    color: $white;
    background-color: $primary;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 12px;
        font-weight: $regular;
    }
}
