.dashboard-container {
    width: 100%;
    max-width: 1440px;
    min-height: 75vh;
    margin: auto;
    margin-top: 22px;
    padding: 24px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-template-rows: repeat(auto-fit, 180px);
    grid-gap: 24px;
}

.wishlist-dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist-dashboard {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 76vh;
    margin: auto;
    margin-top: 120px;
    padding: 40px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-delete-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: $greyDark;

    svg {
        width: 36px;
        height: 36px;
    }
}

.wishlist-title {
    font-size: 36px;
}
