.dashboard-container {
    width: 100%;
    min-height: 75vh;
    margin-bottom: 12px;
    padding: 24px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 300px);
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 180px);
    grid-gap: 20px;
}
